<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://camel.apache.org/schema/spring
        http://camel.apache.org/schema/spring/camel-spring.xsd">

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <propertyPlaceholder id="prop" location="main.properties"/>
        <route>

            <from uri="file:input?noop=true" />

            <setProperty propertyName="dynamicEndpointName">
                <constant>file</constant>
            </setProperty>

            <setProperty propertyName="dynamicURIName">
                <method ref="endpointURIGenerator" method="genURI(${property.dynamicEndpointName})"/>
            </setProperty>


            <!-- use "Dynamic Router" -->
            <dynamicRouter>
                <method ref="endpointURIGenerator" method="genURI(${property.dynamicEndpointName})"/>
            </dynamicRouter>

            <!-- or "Recipient List" -->
            <recipientList>
                <simple>${property.testPropertyProcessed}</simple>
            </recipientList>

            <!-- or "Dynamic To" (since in Camel 2.16) -->
            <toD uri="${property.dynamicURIName}" />


        </route>
    </camelContext>



    <bean id="endpointURIGenerator" class="com.github.mgramin.camel_dynamic_route_test.EndpointURIGenerator"/>

</beans>